@import '../../index.css';

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    opacity: 0.9;
    border-radius: 10px;
    padding: 30px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.login h2{
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--home-font-color);
}

.form-input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins';
    outline-color: var(--home-font-color);
    color: #000;
}

.form-password{
    width: 300px;
    height: 40px;
    position: relative;
    margin-bottom: 1rem;
}


.form-password input {
    width: 100%;
    padding: 0.5rem;
    padding-right: 2.5rem;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins';
    outline-color: var(--home-font-color);
    color: #000;
}

.password-toggle{
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 0.25rem;
}

.password-toggle:hover {
    color: #333;
  }

.password-toggle:focus {
    outline: none;
    color: #0066cc;
  }

.form-button{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--home-font-color);
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #000;
    border: none;
    cursor: pointer;
}



.form-button{
    width: 100px;
    height: 35px;
}


.form-button:hover{
    background-color: aquamarine;
}

.login p{
    font-size: 20px;
    font-family: 'Poppins';
    color: var(--home-font-color);
}

.login p span{
    font-weight: bold;
    font-family: 'Poppins';
}

.login p span:hover{
    text-decoration: underline;
    cursor: pointer;
}
