@import '../../index.css';


.user-menu-items-container{
    position: absolute;
    top: 40px;
    right: 30px;
    min-width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 5px;
}

.user-menu-items{
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    padding: 5px 10px;
    margin: 5px 0px;
}

.user-menu-items:hover{
    cursor: pointer;
    background-color: var(--hover-bg-color);
}
